**/bin
**/obj
**/out
**/node_modules
Czytnik/wwwroot/css
.vs
**/.vscode
.git
.gitattributes
.gitignore
.github
deploy
Dockerfile
docker-compose.yml
docker-compose.prod.yml
.dockerignore
.env
**/*.user
